@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin headings {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}

html {
  background-color: #abb996;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  color: #f2f8e9;
  font-size: 14px;

  @media (min-width: theme('screens.sm')) {
    font-size: 14px;
  }

  @media (min-width: theme('screens.md')) {
    font-size: 14px;
  }

  @media (min-width: theme('screens.lg')) {
    font-size: 16px;
  }

  @media (min-width: theme('screens.xl')) {
    font-size: 18px;
  }
}

::-moz-selection {
  background: #afbf34;
  color: #3e402d;
}

::selection {
  background: #afbf34;
  color: #3e402d;
}

body {
  height: 100%;
}

#__next {
  height: 100%;
}

#__next>div {
  height: 100%;
}

hr {
  @apply my-5;
}

@include headings {
  @apply my-5;
}

h1 {
  @apply text-3xl tracking-tight leading-tight;
}

h2 {
  @apply text-2xl tracking-tight;
}

h3 {
  @apply text-xl font-extralight leading-normal;
}

h3 {
  @apply text-lg font-extralight leading-normal;
}

h4 {
  @apply text-base;
}

h5 {
  @apply text-sm;
}

a {
  @apply tracking-wider;
}

p {
  @apply text-base font-light py-5 tracking-tight leading-relaxed;
}

.fade-bg {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.7077205882352942) 41%,
      rgba(0, 0, 0, 0.5284488795518207) 64%,
      rgba(0, 0, 0, 0) 100%);
}

.competency-list {
  background-color: #f3ffe0;
  color: #074020
}